%h1
  Reviews For
  =product.title


%table.table
  %tr
    %th Content
    %th Rating
    %th Action

  - @reviews.each do |review|
    -if review.product_id == product.id
      %tr
        %td= review.content
        %td= review.rating
        %td= link_to 'Show', category_product_path(product.category, product)

%br
//= link_to 'Back', , class: 'btn btn-primary'